body{
    height: 100%;
}

.navbar {
    position: relative;
}

.navbar-default {
    background-color: rgb(112, 173, 71);
}

.navbar-brand {
    padding: 0px;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.navbar-brand > img {
    height: 110%;
    width: auto; 
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron{
    font-family: 'Quicksand', sans-serif;
    padding: 20px 20px 40px 20px;
    width: 60%;
    background-color: #A9D18E;
}

.jumbotron > h2{
    color: rgb(112, 77,30);
    font-family: 'Anton', sans-serif;
    letter-spacing: 10px;
}

.form-control{
    background-color: #E2F0D9;
    color: green;
}

.form-control::-webkit-input-placeholder { color: green; }
.form-control:-moz-placeholder { color: green; }
.form-control::-moz-placeholder { color: green; }
.form-control:-ms-input-placeholder { color: green; }

.button{
    margin: 30px 20px 40px 20px;
    font-family: 'Quicksand', sans-serif;
}

#fixedbutton {
    position: fixed;
    bottom: 10%;
    right: 20%; 
}